* {
  margin: 0;
  padding: 0;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  -webkit-tap-highlight-color: transparent;
  -webkit-font-smoothing: antialiased;
}
image,
text,
div {
  margin: 0;
  padding: 0;
}
div {
  position: relative;
  box-sizing: border-box;
}
input {
  color: black;
  outline: none;
}
text {
  display: inline-block;
  font-size: 24px;
  text-align: center;
  letter-spacing: 0;
}
text-center {
  text-align: center;
}
/* 谷歌内核 */
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder{
  color:#CACDD2
}
/* 火狐浏览器低版本 - v19- */
input:-moz-placeholder, textarea:-moz-placeholder{
  color:#CACDD2
}
/* 火狐浏览器高版本 - v19+ */
input::-moz-placeholder, textarea::-moz-placeholder{
  color:#CACDD2
}
/* IE内核 */
input::-ms-input-placeholder, textarea::-ms-input-placeholder{
  color:#CACDD2
}
textarea,button,input{
  outline: none;
}
button{
  cursor: pointer;
  padding: 4px 11px;
      background-color: #fff;
      border: 1px solid #d9d9d9;
      border-radius: 3px;
}
li {
  list-style: none;
}
p,
span {
  font-family: Lato-Regular;
}
dl,
ol,
ul {
  margin-bottom: 0 !important;
}

/* 遮罩 */

/* 表格标题 */
.formTitle {
  font-size: 22px;
  text-align: center;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  margin: 0;
}
/* 添加修改的弹框 */
.showCard {
  position: fixed;
  left: calc(50vw - 100px - 10rpx);
  top: 18%;
  width: 200px;
  z-index: 99999;
  padding: 10rpx;
  padding-top: 5rpx;
  border-radius: 5px;
  background-color: #fff;
}
.showCard input {
  margin-top: 10px;
  padding: 10px;
  border-radius: 5px;
  background-color: #eaeaec;
  font-size: 14px;
}
.showCard button {
  width: 40%;
  margin: 0px;
}
.button {
  margin: auto;
  width: 174px;
  height: 45px;
  line-height: 45px;
  font-size: 14px;
  text-align: center;
}
.lightButton {
  background-color: #fff;
  color: #000;
  border: 1px solid #222;
}
.darkButton {
  background-color: #000;
  color: #fff;
  border: 1px solid #222;
}
/* 查看更多 */
.viewMore {
  font-size: 12px;
  color: #888;
  border-bottom: 1px solid #fff;
  transition: all 0.5s;
  cursor: pointer;
}
.overViewMore {
  border-bottom: 1px solid #000;
  color: #000;
}
/* 移入特效 */
.cursorImg {
  cursor: pointer;
  transition: all 0.3s;
}
.overImg {
  transform: scale(1.1);
}
.underLine {
	
  text-decoration: underline;
}
.pointer{
	cursor: pointer;
	
}
/* 字体大小 */
.litFont {
  font-size: 14px;
}
.midFont {
  font-size: 16px;
}
.bigFont {
  font-size: 20px;
}
/* 链接 */
.blue {
  color: #2d8cf0;
}
/* 通用 */
.loading{
  position: fixed;
  top: 35%;
  left: 0;
  right: 0;
  margin: auto;
}
.avatar{
  border-radius: 50%;
}
/*  -- flex弹性布局 -- */
.flex {
  display: flex;
}

.basis-xs {
  flex-basis: 20%;
}

.basis-sm {
  flex-basis: 40%;
}

.basis-df {
  flex-basis: 50%;
}

.basis-lg {
  flex-basis: 60%;
}

.basis-xl {
  flex-basis: 80%;
}

.flex-sub {
  flex: 1;
}

.flex-twice {
  flex: 2;
}

.flex-treble {
  flex: 3;
}

.flex-direction {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.align-start {
  align-items: flex-start;
}

.align-end {
  align-items: flex-end;
}

.align-center {
  align-items: center;
}

.align-stretch {
  align-items: stretch;
}

.self-start {
  align-self: flex-start;
}

.self-center {
  align-self: flex-center;
}

.self-end {
  align-self: flex-end;
}

.self-stretch {
  align-self: stretch;
}

.align-stretch {
  align-items: stretch;
}

.justify-start {
  justify-content: flex-start;
}

.justify-end {
  justify-content: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-around {
  justify-content: space-around;
}
/*  -- 内外边距 -- */

.margin-0 {
  margin: 0;
}

.margin-xs {
  margin: 10upx;
}

.margin-sm {
  margin: 20upx;
}

.margin {
  margin: 30upx;
}

.margin-lg {
  margin: 40upx;
}

.margin-xl {
  margin: 50upx;
}

.margin-top-xs {
  margin-top: 10upx;
}

.margin-top-sm {
  margin-top: 20upx;
}

.margin-top {
  margin-top: 30upx;
}

.margin-top-lg {
  margin-top: 40upx;
}

.margin-top-xl {
  margin-top: 50upx;
}

.margin-right-xs {
  margin-right: 10upx;
}
.margin-right-sm {
  margin-right: 20upx;
}

.margin-right {
  margin-right: 30upx;
}

.margin-right-lg {
  margin-right: 40upx;
}

.margin-right-xl {
  margin-right: 50upx;
}

.margin-bottom-xs {
  margin-bottom: 10upx;
}

.margin-bottom-sm {
  margin-bottom: 20upx;
}

.margin-bottom {
  margin-bottom: 30upx;
}

.margin-bottom-lg {
  margin-bottom: 40upx;
}

.margin-bottom-xl {
  margin-bottom: 50upx;
}

.margin-left-xs {
  margin-left: 10upx;
}

.margin-left-sm {
  margin-left: 20upx;
}

.margin-left {
  margin-left: 30upx;
}

.margin-left-lg {
  margin-left: 40upx;
}

.margin-left-xl {
  margin-left: 50upx;
}

.margin-lr-xs {
  margin-left: 10upx;
  margin-right: 10upx;
}

.margin-lr-sm {
  margin-left: 20upx;
  margin-right: 20upx;
}

.margin-lr {
  margin-left: 30upx;
  margin-right: 30upx;
}

.margin-lr-lg {
  margin-left: 40upx;
  margin-right: 40upx;
}

.margin-lr-xl {
  margin-left: 50upx;
  margin-right: 50upx;
}

.margin-tb-xs {
  margin-top: 10upx;
  margin-bottom: 10upx;
}

.margin-tb-sm {
  margin-top: 20upx;
  margin-bottom: 20upx;
}

.margin-tb {
  margin-top: 30upx;
  margin-bottom: 30upx;
}

.margin-tb-lg {
  margin-top: 40upx;
  margin-bottom: 40upx;
}

.margin-tb-xl {
  margin-top: 50upx;
  margin-bottom: 50upx;
}

.padding-0 {
  padding: 0;
}

.padding-xs {
  padding: 10upx;
}

.padding-sm {
  padding: 20upx;
}

.padding {
  padding: 30upx;
}

.padding-lg {
  padding: 40upx;
}

.padding-xl {
  padding: 50upx;
}

.padding-top-xs {
  padding-top: 10upx;
}

.padding-top-sm {
  padding-top: 20upx;
}

.padding-top {
  padding-top: 30upx;
}

.padding-top-lg {
  padding-top: 40upx;
}

.padding-top-xl {
  padding-top: 50upx;
}

.padding-right-xs {
  padding-right: 10upx;
}

.padding-right-sm {
  padding-right: 20upx;
}

.padding-right {
  padding-right: 30upx;
}

.padding-right-lg {
  padding-right: 40upx;
}

.padding-right-xl {
  padding-right: 50upx;
}

.padding-bottom-xs {
  padding-bottom: 10upx;
}

.padding-bottom-sm {
  padding-bottom: 20upx;
}

.padding-bottom {
  padding-bottom: 30upx;
}

.padding-bottom-lg {
  padding-bottom: 40upx;
}

.padding-bottom-xl {
  padding-bottom: 50upx;
}

.padding-left-xs {
  padding-left: 10upx;
}

.padding-left-sm {
  padding-left: 20upx;
}

.padding-left {
  padding-left: 30upx;
}

.padding-left-lg {
  padding-left: 40upx;
}

.padding-left-xl {
  padding-left: 50upx;
}

.padding-lr-xs {
  padding-left: 10upx;
  padding-right: 10upx;
}

.padding-lr-sm {
  padding-left: 20upx;
  padding-right: 20upx;
}

.padding-lr {
  padding-left: 30upx;
  padding-right: 30upx;
}

.padding-lr-lg {
  padding-left: 40upx;
  padding-right: 40upx;
}

.padding-lr-xl {
  padding-left: 50upx;
  padding-right: 50upx;
}

.padding-tb-xs {
  padding-top: 10upx;
  padding-bottom: 10upx;
}

.padding-tb-sm {
  padding-top: 20upx;
  padding-bottom: 20upx;
}

.padding-tb {
  padding-top: 30upx;
  padding-bottom: 30upx;
}

.padding-tb-lg {
  padding-top: 40upx;
  padding-bottom: 40upx;
}

.padding-tb-xl {
  padding-top: 50upx;
  padding-bottom: 50upx;
}
